* {
    padding: 0;
    margin: 0;
}

::selection {
    border: none;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #002d62; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: #002d62; 
}

/* Add a nav bar */
.topnav {
    background-color: #fff;
    overflow: hidden;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 20px;
    border-bottom: #ededed solid 2px;
    font-weight: 400;
  }

  .topnav a:hover, .onderste-nav a:hover {
    color: #f15922;
    transition: 0.3s;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    padding: 14px 17px;
    color: #002d62;
    text-align: center;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    font-family: din-2014,sans-serif;
  }




  .nav-text {
    padding-top: 20px;
    padding-left: 1px;
  }
  
  
  
  /* Add an active class to highlight the current page */
  .topnav a.logo img {
    min-height: 45px;
    width: 240px;
    max-width: 70vw;
    margin-right: 15px;
    padding-left: 60px;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  /*dropdown*/
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .onderste-nav {
    height: 60px;
    border-bottom: #ededed solid 2px;
  }

  .onderste-nav a {
    float: left;
    display: block;
    padding: 5px 17px;
    color: #002d62;
    text-align: center;
    text-decoration: none;
    font-family: din-2014,sans-serif;
    font-weight: 400;
  }

  .items {
    padding: 14px 100px;
  }

  h2 {
    top: 20px;
    font-size: 40px;
    font-weight: bold;
    left: 390px;
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    color: #002d62;
    font-family: din-2014,sans-serif;
}

  .filter-lijst {
    position: absolute;
    left: 30px;
    height: 500px;
    width: 300px;
    overflow: scroll;
    overflow-x: hidden;
  }

  .filter-lijst h1 {
    position: absolute;
    color: #aaa;
    text-transform: uppercase;
    font-size: 24px;
    font-family: din-2014,sans-serif;
    top: 10px;
    left: 20px;
    font-weight: 400;
  }

  .container1 {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    /*background-color: #f6f6f6;*/
  }

  .weergave {
    position: absolute;
    left: 25%;
    top: 36%;
  }

  .filter-items {
    position: absolute;
    left: 20px;
    top: 37px;
    
    width: 93%;
    height: 93%;
  }

  .filter-items h4, .checkbox-steensoorten, .checkbox-afmetingen, .checkbox-ramen-deuren, .checkbox-patronen {
    text-transform: uppercase;
    color: #002d62;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: din-2014,sans-serif;
  }

   input:focus {
   outline: none;
  }

/*Styling the select and input boxes*/
select, input, button {
  background-color: #002d62;
  padding: 12px;
  color: white;
  width: 250px;
  border: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/*Styling de bootstrap input velden*/
#standaard, #wall-width, #wall-height, #joint-horizontal, #joint-vertical,#pattern-select, #door-width, #door-height, #window-width,#window-height, #raampositie2, #raampositie, #deurpositie2, #deurpositie, #selectBox {
  width: 250px;
}

#canvas{
  border: 2px #002d62 solid; 
  width: 74vw;
  height: 27vw;
  aspect-ratio: auto;
}

.koop-muur-knop {
  position: absolute;
  right: 2vw;
  float: right;
  top: 13px;
}

.arrow_box { 
  position: absolute; 
  left: -2vw;
  top: 20px;
  background: #88b7d5; 
  border: 4px solid #c2e1f5; 
  width: 1vw;
  height: 24vw;
}
.arrow_box p {
  position: relative;
  left: -20px;
}
.arrow_box:after, .arrow_box:before { 
  bottom: 100%; 
  border: solid transparent; 
  content: " "; 
  height: 0; 
  width: 0;
  position: absolute;
} 
.arrow_box:after { 
  border-color: rgba(136, 183, 213, 0); 
  border-bottom-color: #88b7d5;
  border-width: 10px;
  left: 50%; 
  margin-left: -9px; 
} 
.arrow_box:before { 
  border-color: rgba(194, 225, 245, 0); 
  border-bottom-color: #c2e1f5; 
  border-width: 16px; 
  left: 50%; 
  margin-left: -15px;
}
.arrow_box > div:after, .arrow_box > div:before { 
  top: 100%; 
  border: solid transparent; 
  content: ""; 
  height: 0; 
  width: 0;
  position: absolute;
} 
.arrow_box > div:after { 
  border-color: rgba(136, 183, 213, 0); 
  border-top-color: #88b7d5;
  border-width: 10px;
  left: 50%; 
  margin-left: -9px; 
} 
.arrow_box > div:before { 
  border-color: rgba(194, 225, 245, 0); 
  border-top-color: #c2e1f5; 
  border-width: 16px; 
  left: 50%; 
  margin-left: -15px;
}

.arrow_box2 { 
  position: relative; 
  background: #88b7d5; 
  border: 4px solid #c2e1f5;
  left: 25px; 
  width: 71vw;
  height: 1vw;
}
.arrow_box2:after, .arrow_box2:before { 
  bottom: -10px; 
  border: solid transparent; 
  content: " "; 
  height: 0; 
  width: 0;
  position: absolute;
} 
.arrow_box2:after { 
  border-color: rgba(136, 183, 213, 0); 
  border-right-color: #88b7d5;
  border-width: 10px;
  left: 1%; 
  margin-left: -30px; 
  top: -5px;
} 
.arrow_box2:before { 
  border-color: rgba(194, 225, 245, 0); 
  border-right-color: #c2e1f5; 
  border-width: 16px; 
  left: 0%; 
  margin-left: -34px;
  top: -10px;
}
.arrow_box2 > div:after, .arrow_box2 > div:before { 
  top: -10px; 
  border: solid transparent; 
  content: ""; 
  height: 0; 
  width: 0;
  position: absolute;
} 
.arrow_box2 > div:after { 
  border-color: rgba(136, 183, 213, 0); 
  border-left-color: #88b7d5;
  border-width: 10px;
  right: -17px; 
  top: -5px;
  margin-left: 0px; 
} 
.arrow_box2 > div:before { 
  border-color: rgba(194, 225, 245, 0); 
  border-left-color: #c2e1f5; 
  border-width: 16px; 
  left: 100%; 
  margin-left: -1px;
}

#lengte-muur {
  position: absolute;
  z-index: 500;
  left: 50%;
}
  /*Media queries */
  @media screen and (max-width: 1100px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 1500px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 20px;
      top: 105px;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    form.example input[type=text], form.example button, .onderste-nav  {
        display: none;
    }
    * {
      overflow-y: none;
      overflow-x: none;
    }
  }

  @media (max-width: 1500px) {
    .onderste-nav .items {
      flex-wrap: wrap;
    }
    body {
      overflow-x: hidden;
    }
    .onderste-nav a {
      flex: 1 0 100%;
    }
    .container1 h2 {
      width: 100%;
      height: 100%;
      position: relative;
      left: 7vw;
      font-size: 30px;
    }
    .container1 {
      width: 100%;
    }
    .filter-lijst {
      top: 600px;
      position: absolute;
      height: 500px;
      margin: auto;
      display: flex;
      justify-content: center;
        width: 100%;
        overflow: visible;
    }
    .weergave {
      position: relative;
      margin-top: 50px;
      left: +10vw;
      width: 90vw;
      height: 90vw;
    }
    #canvas {
      width: 100%;
      height: 100%;
      position: relative;
      left: -7vw;
    }
  }