* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#bestel-knop {
    background-color: green;
}

.header {
  left: 0;
  width: 100%;
  height: 10%;
  padding: 10px;
  font-size: 1vw;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 800;
  color: #002d62;
  font-family: din-2014,sans-serif;
  position: absolute;
}
.rechts {
    left: 65%;
    position: absolute;
}
.links {
    left: 15%;
    position: absolute;
}

.pdf-weergave {
    left: 0;
    position: absolute;
    margin-top: 7vw;
    width: 50%;
    height: 28vw;
    overflow: hidden;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

.besteloverzicht {
    background-color: #002d62;
    right: 0;
    position: absolute;
    height: 28vw;
    width: 50%;
    margin-top: 7vw;
    color: #fff;
    line-height: 1;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

/*Media queries*/

@media screen and (max-width: 1200px) {
    .pdf-weergave, .besteloverzicht {
        height: 75%;
    }
}